@import 'tailwindcss';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;
    --primary: 0 0% 13%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 13%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 56%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 92.2%;
    --input: 0 0% 92.2%;
    --ring: 0 0% 70.8%;
    --radius: 0.625rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;
    --card: 0 0% 21%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 21%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 92.2%;
    --primary-foreground: 0 0% 13%;
    --secondary: 0 0% 27%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 27%;
    --muted-foreground: 0 0% 71%;
    --accent: 0 0% 27%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 13%;
    --border: 0 0% 100% / 10%;
    --input: 0 0% 100% / 15%;
    --ring: 0 0% 56%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
